<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <httpErrors errorMode="DetailedLocalOnly">
            <remove subStatusCode="-1" statusCode="502" />
            <remove subStatusCode="-1" statusCode="501" />
            <remove subStatusCode="-1" statusCode="412" />
            <remove subStatusCode="-1" statusCode="406" />
            <remove subStatusCode="-1" statusCode="405" />
            <remove subStatusCode="-1" statusCode="404" />
            <remove subStatusCode="-1" statusCode="403" />
            <remove subStatusCode="-1" statusCode="500" />
            <remove subStatusCode="-1" statusCode="401" />
            <error statusCode="500" responseMode="ExecuteURL" path="/inc/err/500.php" prefixLanguageFilePath="" />
            <error statusCode="403" responseMode="ExecuteURL" path="/inc/err/403.php" prefixLanguageFilePath="" />
            <error statusCode="404" responseMode="ExecuteURL" path="/inc/err/404.php" prefixLanguageFilePath="" />
            <error statusCode="405" responseMode="ExecuteURL" path="/inc/err/405.php" prefixLanguageFilePath="" />
            <error statusCode="406" responseMode="ExecuteURL" path="/inc/err/406.php" prefixLanguageFilePath="" />
            <error statusCode="412" responseMode="ExecuteURL" path="/inc/err/412.php" prefixLanguageFilePath="" />
            <error statusCode="501" responseMode="ExecuteURL" path="/inc/err/501.php" prefixLanguageFilePath="" />
            <error statusCode="502" responseMode="ExecuteURL" path="/inc/err/502.php" prefixLanguageFilePath="" />
        </httpErrors>
        <httpProtocol>
            <customHeaders>
                <remove name="X-Powered-By" />
                <add name="Origin" value="intranet.lcso.org" />
				<add name="Access-Control-Allow-Origin" value="*"/>
				<add name="Access-Control-Allow-Methods" value="GET,PUT,PATCH,POST,DELETE,OPTIONS"/>
				<add name="Access-Control-Allow-Headers" value="Content-Type"/>
            </customHeaders>
        </httpProtocol>
        <defaultDocument>
            <files>
                <clear />
                <add value="index.php" />
                <add value="index.html" />
                <add value="index.asp" />
            </files>
        </defaultDocument>
        <security>
          <requestFiltering>
            <requestLimits maxAllowedContentLength="4294967295" />
                <verbs>
                </verbs>
          </requestFiltering>
        </security>
        <rewrite>
            <rules>
                <rule name="api_controllers">
                    <match url="(.*)/api/.*" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="{R:1}/api/index.php" />
                </rule>
            </rules>
        </rewrite>
        <modules>
            <remove name="WebDAVModule" />
        </modules>

    </system.webServer>
</configuration>
