[v-cloak] {
    /*hide view {{placeholders}} while loading*/
    display: none;
} 
/*.card-edges{
   border-radius: 33px;
}*/
.card-actions--buffer{
    margin-top: 180px;
    margin-left: 80px;
}
.clickable{
    cursor:pointer;
    opacity: 0.9;
}
.clickable:hover{
    opacity: 1;
}
.selected-card .mtg-card{
    background-color: teal;
}